*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Oswald', sans-serif;
}

.contenedor{
    width: 80%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0px;
}

header{
    height: 100vh;
    background-image: linear-gradient(120deg, rgba(132, 250, 175, 0.411) 0%, rgba(144, 211, 244, 0.418) 100%), url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
}

.head p{
    font-size: 40px;
}